:root {
  --color-maskulin: #656fe8;
  --color-feminin: #ef4a61;
  --color-neutral: #2c8a49;
  --color-plural: #ddef4a;

  --color-nominativ: #111111;
  --color-akkusativ: #222222;
  --color-dativ: #333333;
  --color-genitiv: #444444;
}
body {
  color: white;
  background: #888888;
  font-family: sans-serif;
  font-size: 9pt;
}
body, body * {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
ul { list-style: none; }
ul { border: solid 1px white; }
li { list-style: none; }
li + li { margin-top: 10px; }
li { background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.01) 100%); }

h2 { padding: 10px 0; background-color: #123456; font-size: 1.6em; }
h3 { padding: 8px 0; background-color: #123456; font-size: 1.4em; }
h4 { padding: 5px 0; background-color: #123456; font-size: 1.2em; }

.alles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 10px auto 10px auto 10px auto;
  grid-template-areas: 
    'header header header header'
    '. . . .'
    'akkusativ akkusativ dativ dativ'
    '. . . .'
    'nominativ nominativ genitiv genitiv'
    '. . . .'
    'footer footer footer footer';
}

#queryMaskulin:checked ~ .alles .deklination__entry:not(.deklination__genus--maskulin) {
  display: none;
}
#queryFeminin:checked ~ .alles .deklination__entry:not(.deklination__genus--feminin) {
  display: none;
}
#queryNeutral:checked ~ .alles .deklination__entry:not(.deklination__genus--neutral) {
  display: none;
}
#queryPlural:checked ~ .alles .deklination__entry:not(.deklination__nummer--plural) {
  display: none;
}
#queryMaskulin:checked ~ .alles .deklination__entry.deklination__genus--maskulin {
  display: block;
}
#queryFeminin:checked ~ .alles .deklination__entry.deklination__genus--feminin {
  display: block;
}
#queryNeutral:checked ~ .alles .deklination__entry.deklination__genus--neutral {
  display: block;
}
#queryPlural:checked ~ .alles .deklination__entry.deklination__nummer--plural {
  display: block;
}
#queryNominativ:checked ~ .alles .fall:not(.fall--nominativ) {
  display: none;
}
#queryAkkusativ:checked ~ .alles .fall:not(.fall--akkusativ) {
  display: none;
}
#queryDativ:checked ~ .alles .fall:not(.fall--dativ) {
  display: none;
}
#queryGenitiv:checked ~ .alles .fall:not(.fall--genitiv) {
  display: none;
}
#queryNominativ:checked ~ .alles .fall.fall--nominativ {
  display: block;
}
#queryAkkusativ:checked ~ .alles .fall.fall--akkusativ {
  display: block;
}
#queryDativ:checked ~ .alles .fall.fall--dativ {
  display: block;
}
#queryGenitiv:checked ~ .alles .fall.fall--genitiv {
  display: block;
}

.header {
  grid-area: header;
}
.footer {
  grid-area: footer;
}

/*-- fall --*/
.fall--nominativ {
  background-color: var(--color-nominativ);
  grid-area: nominativ;
}
.fall--akkusativ {
  background-color: var(--color-akkusativ);
  grid-area: akkusativ;
}
.fall--dativ {
  background-color: var(--color-dativ);
  grid-area: dativ;
}
.fall--genitiv {
  background-color: var(--color-genitiv);
  grid-area: genitiv;
}

/*-- entry --*/
.entry {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100%;
  grid-template-areas: 
    'value deklination';
  justify-items: stretch;
  justify-content: stretch;
  align-items: center;
}
.entry__value {
  border: solid 1px transparent;
  padding: 3px;
  border-radius: 5px;
}
.entry__value {
  grid-area: value;
  font-weight: bolder;
}

/*-- artikel --*/
.artikel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    'artikel-header artikel-header'
    'bestimmter unbestimmter';
  justify-items: stretch;
  align-items: center;
}
.artikel h3 {
  grid-area: artikel-header;
}
.artikel .bestimmter {
  grid-area: bestimmter;
}
.artikel .unbestimmter {
  grid-area: unbestimmter;
}
.artikel .entry--genus-maskulin:after {
  content: '';
  display: inline-block;
  background-color: var(--color-maskulin);
  padding: 0.4em;
  margin-left: 1ch;
  margin-right: 1ch;
  border-radius: 100%
  width: 0;
}
.artikel .entry--genus-feminin:after {
  content: '';
  display: inline-block;
  background-color: var(--color-feminin);
  padding: 0.4em;
  margin-left: 1ch;
  margin-right: 1ch;
  border-radius: 100%
  width: 0;
}
.artikel .entry--genus-neutral:after {
  content: '';
  display: inline-block;
  background-color: var(--color-neutral);
  padding: 0.4em;
  margin-left: 1ch;
  margin-right: 1ch;
  border-radius: 100%
  width: 0;
}
.artikel .entry--nummer-plural:after {
  content: '';
  display: inline-block;
  background-color: var(--color-plural);
  padding: 0.4em;
  margin-left: 1ch;
  margin-right: 1ch;
  border-radius: 100%
  width: 0;
}

/*-- deklination --*/
.deklination__entry {
  border: solid 1px transparent;
  padding: 3px;
  border-radius: 5px;
}
.deklination {
  grid-area: deklination;

  display: grid;
  grid-area: deklination;
  grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 
    'maskulin . feminin . neutral . plural';

  justify-items: stretch;
  justify-content: stretch;
  align-items: center;
}
.deklination__nummer--plural {
  grid-area: plural;
}
.deklination__nummer--plural:after {
  content: '';
  display: inline-block;
  background-color: var(--color-plural);
  padding: 0.4em;
  margin-left: 1ch;
  border-radius: 100%
}
.deklination__genus--maskulin {
  grid-area: maskulin;
}
.deklination__genus--maskulin:after {
  content: '';
  display: inline-block;
  background-color: var(--color-maskulin);
  padding: 0.4em;
  margin-left: 1ch;
  border-radius: 100%
}
.deklination__genus--feminin {
  grid-area: feminin;
}
.deklination__genus--feminin:after {
  content: '';
  display: inline-block;
  background-color: var(--color-feminin);
  padding: 0.4em;
  margin-left: 1ch;
  border-radius: 100%
}
.deklination__genus--neutral {
  grid-area: neutral;
}
.deklination__genus--neutral:after {
  content: '';
  display: inline-block;
  background-color: var(--color-neutral);
  padding: 0.4em;
  margin-left: 1ch;
  border-radius: 100%
}
