:root {
  --color-maskulin: blue;
  --color-feminin: red;
  --color-neutral: green;
  --color-plural: #c7ab66;
}
body {
  color: white;
  background: black;
  font-family: sans-serif;
}
body, body * { box-sizing: border-box; }
ul { list-style: none; padding: 0; margin: 0; }
li { list-style: none; padding: 0; margin: 0; }
li + li { margin-top: 10px; }

.alles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 
    'header header header header'
    'nominativ akkusativ dativ genitiv'
    'footer footer footer footer';
}

.header {
  grid-area: header;
}
.fall--nominativ {
  grid-area: nominativ;
}
.fall--akkusativ {
  grid-area: akkusativ;
}
.fall--dativ {
  grid-area: dativ;
}
.fall--genitiv {
  grid-area: genitiv;
}
.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 
    'value deklination';
}

.entry__value, .deklination__entry {
  border: solid 1px transparent;
  padding: 3px;
  border-radius: 5px;
}

.deklination {
  display: grid;
  grid-area: deklination;
  grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 
    'maskulin . feminin . neutral . plural';
}
.entry__value {
  grid-area: value;
}
.deklination {
  grid-area: deklination;
}
.deklination__nummer--plural {
  background-color: var(--color-plural);
  grid-area: plural;
}
.deklination__genus--maskulin {
  background-color: var(--color-maskulin);
  grid-area: maskulin;
}
.deklination__genus--feminin {
  background-color: var(--color-feminin);
  grid-area: feminin;
}
.deklination__genus--neutral {
  background-color: var(--color-neutral);
  grid-area: neutral;
}
